version: '3.5'

services:
  postgres:
    container_name: insta_clone_postgres
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-insta_clone}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-insta_clone}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - '5432:5432'
    networks:
      - postgres
    #restart: unless-stopped

  pgadmin:
    container_name: insta_clone_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-templating@viotech.io}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-insta_clone}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - '${PGADMIN_PORT:-5050}:80'
    networks:
      - postgres
    #restart: unless-stopped

  redis:
    container_name: insta_clone_redis
    image: redis
    ports:
      - 6379:6379
    command: redis-server --save 60 1 --requirepass "insta_clone"
    volumes:
      - redis:/data

networks:
  redis:
  postgres:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  redis:
